frontend/node_modules/
frontend/dist/
frontend-mall/node_modules/
frontend-mall/dist/
node_modules/
.git/
*.md
.vscode/
.idea/
target/
*/target/
logs/
uploads/
*.log
*.iws
*.ipr
*.png
*.jpg
backup/
.DS_Store
